/* General body styles */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
    line-height: 1.6;
    color: #252422; /* Dark grey for text */
    background-color: #FFFCF2; /* Light cream background */
}

/* Adjusted button hover styles */
.intro-content button:hover,
nav a:hover,
.form button[type="submit"]:hover,
.project:hover, .skill:hover {
    background: #252422; /* Dark grey */
}

.intro-content button.visible {
    opacity: 1;
}

/* Intro overlay styles */
#intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFCF2; /* Light cream background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;
}

.intro-content {
    text-align: center;
}

.intro-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
    animation: fadeInText 2s ease-in-out;
    color: #252422; /* Dark grey */
}

.intro-content button {
    padding: 10px 20px;
    background: #558564; /* Primary color - Green */
    color: #FFFCF2; /* Light cream text */
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s, opacity 0.5s, transform 0.3s;
}

.intro-content button.visible {
    opacity: 1; /* Visible when added visible class */
}

.intro-content button:hover {
    background: #252422; /* Dark grey on hover */
}

/* Keyframes for fade-in text animation */
@keyframes fadeInText {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Fade out overlay */
#intro-overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Header styles */
header {
    background: #558564; /* Primary color - Green */
    color: #FFFCF2; /* Light cream text */
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #252422 3px solid; /* Dark grey border */
    display: flex;
    justify-content: space-between; /* Adjusted for layout */
    align-items: center; /* Center align items vertically */
    padding: 10px 50px; /* Adjusted padding */
}

header h1 {
    margin: 0;
    font-size: 24px; /* Adjust font size */
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between; /* Distribute items to the edges */
    align-items: center; /* Center align items vertically */
    background: #558564; /* Primary color - Green */
    padding: 10px 50px; /* Adjusted padding */
}

nav a {
    color: #FFFCF2; /* Light cream text */
    text-decoration: none;
    padding: 10px 20px;
    transition: background 0.3s, transform 0.3s;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
}

nav a:hover {
    background: #252422; /* Dark grey on hover */
    border-radius: 5px;
    transform: scale(1.05);
}

/* Section styles */
.section {
    padding: 20px;
    background: #FFFCF2; /* Light cream background */
    margin: 20px 0;
    animation: fadeIn 1s ease-in;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-text {
    flex: 1;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
    color: #252422; /* Dark grey text */
}

.section-image {
    flex: 1;
    text-align: right;
}

.section-image img {
    max-width: 60%;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s;
}

.section-image img:hover {
    transform: scale(1.1);
}

/* Profile image styles */
.profile-image {
    max-width: 150px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.profile-image:hover {
    transform: scale(1.2);
}

/* Projects and Skills grid */
#projects, #skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.project, .skill {
    background: #558564; /* Primary color - Green */
    color: #FFFCF2; /* Light cream text */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
}

.project:hover, .skill:hover {
    transform: scale(1.05);
}

/* Contact form styles */
form {
    background: #DBE9EE; /* Secondary color - Light blue */
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 100px; /* Adjust as necessary */
}

form label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
    color: #252422; /* Dark grey text */
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
    background: #FFFCF2; /* Light cream background */
    color: #252422; /* Dark grey text */
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background: #252422; /* Dark grey */
    color: #FFFCF2; /* Light cream text */
    border: 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    font-family: 'Times New Roman', Times, serif; /* Times New Roman font */
}

form button[type="submit"]:hover {
    background: #CC7178; /* Darker red on hover */
    transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
    #projects, #skills {
        grid-template-columns: 1fr;
    }
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px 0;
    background: #558564; /* Primary color - Green */
    color: #FFFCF2; /* Light cream text */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100; /* Ensure the footer stays on top of other content */
}
